.deck {
  --peeking-size: calc((100% - 17rem) / 5);

  display: grid;
  gap: 0.6rem;
  grid-template-columns:
    17rem var(--peeking-size) var(--peeking-size) var(--peeking-size)
    var(--peeking-size) var(--peeking-size);
  align-items: end;
  justify-items: right;
  justify-content: right;
  transition: grid-template-columns 1s ease;
}

/* .card:first-child::after {
  content: url('/static/images/triangle.svg');
  position: absolute;
  bottom: -1.4rem;
  left: 40%;
} */
