.deck {
  display: flex;
  gap: 0.6rem;
  align-items: flex-end;

  &:hover {
    .cardContainer:nth-child(-n + 2) {
      min-width: 1rem;
    }
  }
}

.cardContainer {
  position: relative;
  min-width: 1rem;
  width: 17rem;
  transition:
    width 0.4s,
    min-width 0.4s;
  height: 10rem;

  &:nth-child(-n + 2) {
    min-width: 17rem;
    width: 17rem;
  }

  &:hover {
    min-width: 17rem !important;
    width: 17rem;
  }
}
