.root {
  position: relative;

  * {
    position: relative;
  }
}

.root::before {
  content: '';
  position: absolute;
  left: var(--gradient-left);
  top: var(--gradient-top);
  height: calc(100% + var(--gradient-add-height));
  width: var(--gradient-width);
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0) 80%);
  border-radius: var(--gradient-radius);
  opacity: 0.51;
  transform-origin: left;
}
