.root {
  position: relative;

  * {
    position: relative;
  }
}

.root::before {
  content: '';
  position: absolute;
  left: var(--gradient-box-left);
  top: var(--gradient-box-top);
  height: calc(100% + 0.6rem);
  width: 30rem;
  background: linear-gradient(to right, white, rgba(255, 255, 255, 0) 80%);
  border-radius: 0.6rem;
  opacity: 0.51;
  transform: rotate(var(--gradient-box-angle));
  transform-origin: left;
}
