.root {
  position: relative;
  z-index: 3;
}

.parent {
  clip-path: inset(0 round 1.4rem);
  background-color: #b98259;
  width: 46rem;
  position: relative;
  overflow: hidden;
}

.backdrop {
  position: absolute;
  background-size: 150%;
  opacity: 0.3;
  inset: 0;
}
