.root {
  position: relative;
  z-index: 3;
}

.parent {
  clip-path: inset(0 round 1.4rem);
  background-color: #b78d64;
  width: 46rem;
  position: relative;
  overflow: hidden;
}

.backdrop {
  width: 100%;
  position: absolute;
  background-position: top center;
  background-size: 140%;
  background-repeat: no-repeat;
  opacity: 0.28;
  inset: 0;
}
