.error {
  grid-column: span 1;
  text-align: center;
  padding: 1rem;
  grid-row-start: 1;

  @mixin larger-than $mantine-breakpoint-xss {
    grid-column: span 2;
  }

  @mixin larger-than $mantine-breakpoint-xs {
    grid-column: span 3;
  }

  @mixin larger-than $mantine-breakpoint-md {
    padding: 2rem;
    text-align: start;
  }

  @mixin larger-than $mantine-breakpoint-lg {
    grid-row-start: auto;
  }

  @mixin larger-than $mantine-breakpoint-xl {
    grid-column: span 4;
  }
}
